packages:
  yum:
    amazon-cloudwatch-agent: []

commands:
  01_create_cloudwatch_config:
    command: |
      # Create CloudWatch agent configuration
      mkdir -p /opt/aws/amazon-cloudwatch-agent/etc/
      cat > /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json <<EOL
      {
        "metrics": {
          "namespace": "ElasticBeanstalkCustomMetrics",
          "metrics_collected": {
            "mem": {
              "measurement": [
                "used_percent",
                "used",
                "total",
                "free"
              ],
              "metrics_collection_interval": 60
            },
            "processes": {
              "measurement": [
                "cpu_usage",
                "memory_usage"
              ],
              "metrics_collection_interval": 60
            }
          }
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/eb-custom-logs.log",
                  "log_group_name": "/aws/elasticbeanstalk/development/custom-logs",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }
      EOL

  02_start_cloudwatch_agent:
    command: |
      # Start CloudWatch agent
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s

option_settings:
  aws:elasticbeanstalk:application:environment:
    CLOUDWATCH_AGENT_ENABLED: true
