files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
        {
          "agent":{
            "metrics_collection_interval":60,
            "run_as_user":"root"
          },
          "metrics":{
            "append_dimensions":{
              "AutoScalingGroupName":"${aws:AutoScalingGroupName}",
              "InstanceId":"${aws:InstanceId}",
              "InstanceType":"${aws:InstanceType}"
            },
            "aggregation_dimensions":[
              [
                "AutoScalingGroupName"
              ],
              [
                "InstanceId"
              ],
              [
                "InstanceType"
              ],
              [
                "InstanceId",
                "InstanceType"
              ]
            ],
            "metrics_collected":{
              "mem":{
                "measurement":[
                  "mem_used_percent",
                  "mem_available_percent",
                  "mem_free",
                  "mem_available",
                  "mem_total",
                  "mem_cached"
                ]
              },
              "disk":{
                "measurement":[
                  "total",
                  "free",
                  "used",
                  "used_percent"
                ]
              }
            }
          }
        }
container_commands:
  start_cloudwatch_agent:
    command: |
        echo "Enabling custom CloudWatch configuration..."
        cp /opt/aws/amazon-cloudwatch-agent/bin/config.json /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/
        echo "Restarting agent..."
        systemctl restart amazon-cloudwatch-agent
